.reposSearch__list {
  margin: 20px 0;
}

.reposItem {
  display: flex;
  align-items: center;
  padding: 14px 0;
  border: 1px solid #d1d5da;
  border-left: none;
  border-right: none;
}
.repositem__link {
  color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
